<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.urowks.ulibrary">

    <!-- 配置应用运行环境：local、dev、test、staging、online -->


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:name=".InsworksApp"
        android:supportsRtl="true">

        <meta-data
            android:name="environment"
            android:value="dev"
            />

    </application>

</manifest>
